html, body, div, h3 {
	margin: 0;
	padding: 0;
	font-family: "Pacifico", serif;
}
html {
	font-size: 62.5%;
}
body {
	
	background-image: url(../img/strawberries.jpg); 
	background-repeat: no-repeat;
}
.wrapper {
	position: relative;
	overflow: hidden;
	max-width: 80%;
	margin: 0 auto;
}
/*#board {
	position: center;
	top: 50px;
	float: right;
	font-size: 0px;
	/*margin: 30px 50px 0 auto;
}*/
